.wrapper {
  position: absolute;
  opacity: 0.6;
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal {
  display: flex;
  width: 800px;
  max-height: calc(100% - 60px);
  align-self: center;
  background-color: white;
  padding: 12px 24px;
  border-radius: 16px;
  flex-direction: column;
}

.separate {
  border: 1px solid gray;
  margin-top: 30px;
}
